/* Fonts */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}


/*  Variables  */


/*  Color  */


:root {
  --basic-back: #f7e296;
  --basic-button-more: #f0c52e;
  --basic-icons: #ffc600;
  --basic-black: #000000;
  --basic-service: #e5e5e5;
  --basic-gray-dark: #dcdcdc;
  --basic-white: #ffffff;
  --basic-input: #f2f2f2;
  --basic-input-hover: #eaeaea;
  --basic-input-invalid: #f6dada;
  --basic-footer: #363636;
  --basic-range: #91c92f;
  --title-family: "Gilroy", "Arial", sans-serif;
  --title-size: 47px;
  --title-line: 58px;
  --title-weight: 800;
  --nav-title-size: 18px;
  --nav-title-line: 22px;
}

/*  Pagination  */

:root {
  --basic-number: #ebebeb;
  --basic-number-hover: #d9d9d9;
}


/*  Text  */

:root {
  --title-family: "Gilroy", "Arial", sans-serif;
  --title-size: 47px;
  --title-line: 58px;
  --title-weight: 800;
  --nav-title-size: 18px;
  --nav-title-line: 22px;
  --crumb-size: 14px;
  --crumb-line: 19px;
}








/*  Global tags  */


.page-body {
  position: relative;
  min-width: 1200px;
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
  text-align: left;
  padding: 0;
  outline: 3px solid rgba(0, 255, 255, 0.7);
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.title {
  font-family: var(--title-family);
  font-size: var(--title-size);
  line-height: var(--title-line);
  font-weight: var(--title-weight);
  color: var(--basic-black);
}



/*  Header  */


.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  display: grid;
  background-color: var(--basic-back);
  outline: 3px solid rgba(0, 255, 0, 0.7);
  margin-top: 40px;
}

.main-header.container {
  width: 1040px;
  padding: 0 60px;
}

.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-logo {
  margin-top: -18px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.main-header a {
  color: var(--basic-black);
  text-decoration: none;
  cursor: pointer;
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-header a:not([href]) {
  cursor: default;
}

.main-header a:not([href]):hover {
  opacity: 1.0;
}

.user-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 29px;
  margin-bottom: 50px;
}

.login-header {
  margin-right: 239px;
}

.user-header li,
.user-header-catalog li {
  justify-self: end;
}

.login-out {
  margin-right: 47px;
  opacity: 0.3;
}

.header-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*  Form-header  */

.form-search {
  width: 440px;
  outline: 3px solid orange;
  grid-column: 1;
}



/*  User-navigation  */

.user-header {
  width: 500px;
  outline: 3px solid purple;
  grid-template-columns: repeat(3, 1fr);
}

.user-header-catalog {
  width: 500px;
  outline: 3px solid purple;
  grid-template-columns: max-content repeat(3, 1fr);
}

.user-header,
.user-header-catalog {
  display: grid;
  justify-self: end;
  gap: 40px;
}

.header-navigation {
  outline: 3px solid blue;
}



/*  Catalog  */


.catalog {
  display: flex;
  flex-direction: row;
}

.catalog-item {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  text-transform: uppercase;
  outline: 3px solid green;
}

.catalog-item a {
  letter-spacing: 3px;
}

.catalog-item:nth-child(2) {
  margin-right: 40px;
}

.catalog-products {
  margin-right: 330px;
}

.catalog-item:nth-child(3) {
  margin-right: 111px;
}

ul.goods {
  width: 1040px;
  position: absolute;
  display: none;
  grid-template-columns: repeat(3, max-content);
  column-gap: 61px;
  row-gap: 16px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 20px 60px;
  background-color: var(--basic-back);
  z-index: 5;
  outline: 3px solid red;
}

.goods li {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}

.goods li:nth-child(2) {
  grid-row: 2;
}

.goods li:nth-child(3) {
  grid-row: 3;
}

.goods li:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

.goods a {
  letter-spacing: 0;
}



/*  Page Index  */


/*  Main  */



/*  Gallery  */


.gallery {
  position: relative;
  padding-top: 117px;
}

.gallery-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-item {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  column-gap: 40px;
  min-height: 500px;
  outline: 3px solid blue;
}

.gallery-img {
  width: 560px;
  text-align: center;
  outline: 3px solid red;
}

.gallery-info {
  outline: 3px solid green;
}

.gallery-info .title {
  font-family: var(--title-family);
  font-size: var(--title-size);
  line-height: var(--title-line);
  font-weight: var(--title-weight);
}

.gallery-text .title {
  line-height: 20px;
}


/*  Переключатели  */

.slider-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 41px;
  bottom: 137px;
  display: flex;
}



/*  Услуги  */

.services-wrap {
  display: flex;
  min-height: 288px;
  background-color: var(--basic-service);
  color: var(--basic-black);
  margin-top: 184px;
  margin-bottom: 90px;
  outline: 3px solid red;
}

.services {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-bottom: 64px;
  margin-top: -100px;
  outline: 3px solid orange;
}

.services-nav {
  width: 284px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-info h2,
.about-wrap h2 {
  font-family: var(--title-family);
  font-size: var(--title-size);
  line-height: var(--title-line);
  font-weight: var(--title-weight);
  margin: 0;
}

.service-info h2 {
  padding-top: 65px;
}

.service-info {
  position: relative;
  grid-column: 2 / -1;
  margin-left: 116px;
  margin-right: 250px;
}

.service-info p {
  letter-spacing: 1px;
  margin: 0;
}

.service-item:first-child {
  margin-top: 80px;
}

.service-item .more-btn:hover {
  background-color: var(--basic-button-more);
  color: var(--basic-black);
  opacity: 1.0;
}

.service-item .more-btn:active {
  background-color: var(--basic-black);
  color: var(--basic-back);
  opacity: 1.0;
}

.more-btn {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  text-transform: uppercase;
  letter-spacing: 5px;
  background: transparent;
  border: none;
}

a.more-btn {
  color: var(--basic-black);
  text-decoration: none;
}

.more-btn:hover {
  background-color: var(--basic-button-more);
}

.more-btn:active {
  background-color: var(--basic-button-more);
  opacity: 0.3;
}

.text-site {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.service-info .text-site {
  line-height: 30px;
}

.delivery-partners-item {
  font-family: var(--title-family);
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  list-style: none;
}




/*  categories  */


.categories {
  margin-top: 119px;
  outline: 3px solid purple;
}

.categories ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  outline: 3px solid green;
}

.categories-item {
  width: 160px;
}

.categories-link {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  color: var(--basic-black);
  text-decoration: none;
  text-align: left;
}

.categories-img {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: var(--basic-back);
  text-align: center;
}

.categories-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.categories-img:hover,
.categories-img:active {
  background-color: var(--basic-button-more);
}

.categories-img img:active {
  opacity: 0.3;
}

.categories-link p {
  margin: 0;
}

.categories-link p:active {
  opacity: 0.3;
}



/*  Partners  */


.partners {
  margin-bottom: 90px;
  outline: 3px solid red;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  grid-column: 1 / -1;
}

.partner-item {
  outline: 3px solid green;
}

.partner-item img {
  display: block;
  filter: grayscale(100%);
  opacity: 0.3;
}

.partner-item:hover img {
  filter: grayscale(0);
  transition: 0.5s ease-in-out;
  opacity: 1;
}




/*  О нас  */

.about-wrap {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  column-gap: 40px;
  margin-bottom: 86px;
  outline: 3px solid orange;
}

.about-wrap section {
  outline: 3px solid red;
}

.about-us {
  padding-right: 60px;
}

.contacts {
  grid-column: 2;
}



/*  Page Catalog  */


/*  Main  */


.catalog-inner {
  display: grid;
  align-content: start;
  outline: 3px solid purple;
}

.catalog-inner-wrap {
  padding-left: 60px;
  outline: 3px solid blue;
}

.catalog-inner-title {
  grid-column: 1 / -1;
  margin: 0;
  margin-top: 43px;
  outline: 3px solid rgba(255, 0, 0, 0.7);
}

.crumbs,
.catalog-assort ul,
.filter ul,
.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 3px solid orange;
}

.crumbs {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 50px;
}

.crumbs a {
  font-size: var(--crumb-size);
  line-height: var(--crumb-line);
  font-weight: 300;
  color: var(--basic-black);
  text-decoration: none;
  margin-right: 40px;
}

.crumbs li,
a.crumbs {
  opacity: 0.3;
}

.crumbs a:hover {
  opacity: 0.6;
}

.crumbs a:active {
  opacity: 0.1;
}



/*  Catalog  */

.catalog-page h3 {
  font-family: var(--title-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  outline: 3px solid rgba(255, 0, 0, 0.7);
}

.header-filter {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  padding-left: 60px;
}

.header-filter > h3 {
  width: 268px;
  margin-right: 74px;
}

.catalog-assort {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  outline: 3px solid rgba(0, 0, 255);
}

.catalog-assort h3 {
  margin-right: 74px;
}

.catalog-assort-list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 30px;
  align-items: center;
  outline: 3px solid red;
}

.catalog-assort-list li {
  column-gap: 30px;
}

.catalog-assort-list a {
  display: grid;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.3;
  outline: 3px solid rgba(0, 0, 255);
}

.catalog-assort-arrows {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 23px;
  align-items: center;
  outline: 3px solid red;
}

.catalog-assort-arrows li {
  width: 10px;
  height: 11px;
  outline: 3px solid green;
}

.catalog-assort-list a:hover {
  opacity: 0.6;
}

.catalog-assort-list a:active {
  opacity: 1.0;
}



/*  Content-catalog  */


.content-catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-top: 70px;
  margin-bottom: 78px;
  outline: 3px solid rgba(0, 0, 255);
}

.filter {
  width: 200px;
  padding-left: 60px;
  padding-right: 68px;
  margin-right: 74px;
  outline: 3px solid red;
}





/*  Каталог товаров  */


.products-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  margin-bottom: 40px;
}

p.product-info {
  font-family: var(--title-family);
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}

.product-info a {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  color: var(--basic-black);
  text-decoration: none;
}

.info-hover-compare {
  font-size: 13px;
  line-height: 17px;
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.5;
}

.info-hover-compare:hover {
  opacity: 1.0;
}

.info-hover-compare:active {
  opacity: 0.2;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-number);
  padding: 25px 30px;
}

.pagination-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-number li {
  margin-right: 30px;
}

.pagination a {
  font-family: var(--title-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-number a:hover {
  opacity: 0.6;
}

a.pagination-btn-active,
.pagination-number a:active,
a.pagination-number-active {
  opacity: 1.0;
}

.pagination-btn-back:hover,
.pagination-btn-next:hover {
  background-color: var(--basic-number-hover);
  opacity: 1.0;
}

.pagination-btn-back:active,
.pagination-btn-next:active {
  background-color: var(--basic-number-hover);
  opacity: 0.3;
}



/*  Form  */

.filter-form legend {
  font-family: var(--title-family);
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
}

.filter-form label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black);
}

.price-label {
  font-family: var(--title-family);
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.filter-form input:disabled label {
  color: #a6a6a6;
}






/*  Footer  */


.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-footer);
  outline: 3px solid violet;
}

.main-footer .container {
  padding-top: 46px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 163px 1fr;
  align-self: start;
  outline: 3px solid red;
}

.footer-logo {
  margin-top: 20px;
  outline: 3px solid green;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer a {
  color: var(--basic-white);
  text-decoration: none;
}

.user-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  grid-column: 2;
  align-self: start;
  justify-self: end;
  outline: 3px solid orange;
}

.user-footer-catalog {
  display: grid;
  grid-template-columns: max-content repeat(3, 1fr);
  gap: 40px;
  align-self: start;
  justify-self: end;
  outline: 3px solid orange;
}

.user-footer-catalog .login-out {
  margin-right: 20px;
}

.user-footer-catalog a {
  opacity: 0.7;
}

.footer-wrap-center {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  align-items: center;
  margin-top: 40px;
  outline: 3px solid green;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 36px;
  justify-self: center;
}

.footer-wrap-center p {
  margin: 0;
}

.footer-navigation-item {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  text-transform: uppercase;
  height: 22px;
}

.footer-navigation-item a {
  letter-spacing: 5px;
}

.user-footer {
  display: grid;
}

.user-footer li {
  line-height: 20px;
  justify-self: end;
}

.user-footer a:hover {
  opacity: 0.7;
}

.user-footer a:active {
  opacity: 0.3;
}

.footer-navigation a:hover {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

p.footer-phone {
  margin-left: auto;
}

.footer-contacts {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  margin-top: 67px;
  outline: 3px solid red;
}

.footer-contacts::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-icons);
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  justify-self: center;
  gap: 20px;
  outline: 3px solid orange;
}

.social-link {
  opacity: 0.3;
}

.social-link:hover {
  opacity: 1.0;
}

.social-link:active {
  opacity: 0.1;
}

.academy-logo {
  max-width: 27px;
  height: 34px;
  justify-self: end;
}

.academy-logo:hover {
  opacity: 0.6;
}

.academy-logo:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  clip-path: inset(100%);
}



/*  Modal Form  */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 550px;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
  overflow: auto;
  outline: 3px solid red;
}

.form-write-us {
  position: relative;
  padding-top: 92px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 69px;
  outline: 3px solid green;
}

.write-us-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-write-us p {
  margin: 0;
}

.form-write-us label {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
}

.form-write-us input,
.form-write-us textarea {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--basic-black);
  opacity: 0.4;
}


/*  Modal Map  */

.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 994px;
  height: 593px;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
  overflow: auto;
  outline: 3px solid blue;
  opacity: 0.5;
}
