/* Fonts */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}


/*  Variables  */


/*  Color  */


:root {
  --basic-back: #f7e296;
  --basic-button-more: #f0c52e;
  --basic-icons: #ffc600;
  --basic-black: #000000;
  --basic-service: #e5e5e5;
  --basic-gray-dark: #dcdcdc;
  --basic-white: #ffffff;
  --basic-input: #f2f2f2;
  --basic-disabled: #a6a6a6;
  --basic-input-hover: #eaeaea;
  --basic-input-invalid: #f6dada;
  --basic-pagination-back: #d9d9d9;
  --basic-footer: #363636;
  --basic-range: #91c92f;
  --title-family: "Gilroy", "Arial", sans-serif;
  --title-size: 47px;
  --title-line: 58px;
  --title-weight: 800;
  --nav-title-size: 18px;
  --nav-title-line: 22px;
}

/*  Pagination  */

:root {
  --basic-number: #ebebeb;
  --basic-number-hover: #d9d9d9;
}


/*  Text  */

:root {
  --title-family: "Gilroy", "Arial", sans-serif;
  --title-size: 47px;
  --title-line: 58px;
  --title-weight: 800;
  --nav-title-size: 18px;
  --nav-title-line: 22px;
  --crumb-size: 14px;
  --crumb-line: 19px;
}








/*  Global tags  */


.page-body {
  position: relative;
  min-width: 1200px;
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
  text-align: left;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.title {
  font-family: var(--title-family);
  font-size: var(--title-size);
  line-height: var(--title-line);
  font-weight: var(--title-weight);
  color: var(--basic-black);
  margin: 0;
}

.text-site {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}





/*  Header  */


.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  display: grid;
  background-color: var(--basic-back);
  margin-top: 40px;
}

.main-header.container {
  width: 1040px;
  padding: 0 60px;
}

.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-logo {
  margin-top: -18px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.main-header a {
  display: block;
  color: var(--basic-black);
  text-decoration: none;
  cursor: pointer;
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.main-header a:not([href]) {
  cursor: default;
}

.main-header a:not([href]):hover {
  opacity: 1.0;
}

.user-header a,
.user-header-catalog a {
  position: relative;
  padding-left: 23px;
}

.user-header a::before,
.user-header-catalog a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-header {
  margin-right: 150px;
}

.login-header::before {
  width: 13px;
  height: 14px;
  background-image: url("../img/icon_user-header.svg");
}

.user-header-catalog .person::before {
  width: 13px;
  height: 14px;
  background-image: url("../img/icon_user-header.svg");
}

.compare-header::before {
  width: 14px;
  height: 14px;
  background-image: url("../img/icon_chart-header.svg");
}

.cart-header::before {
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-basket-header.svg");
}

.user-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 30px;
}

.user-header li,
.user-header-catalog li {
  line-height: 20px;
  justify-self: end;
}

a.login-out {
  padding-left: 0;
  opacity: 0.3;
}

a.login-out::before {
  content: none;
}

.header-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*  Form-header  */

.form-search {
  position: relative;
  display: flex;
  width: 440px;
}

.form-search input[type="search"] {
  width: 356px;
  height: 50px;
  color: var(--basic-black);
  background: transparent;
  padding-left: 38px;
  padding-right: 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
}

.form-search placeholder {
  font-family: inherit;
  font-size: 15px;
  line-height: 20px;
}

.form-search button {
  visibility: hidden;
  width: 84px;
  font-family: inherit;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  background: transparent;
  padding: 8px 8px;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
}

.form-search::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.form-search input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.form-search input:focus {
  color: rgba(0, 0, 0, 1.0);
}

.form-search input[type="search"]:active {
  border-bottom: 2px solid rgba(0, 0, 0, 1.0);
}

.form-search input[type="search"]:active .search-button {
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 1.0);
}

.form-search:active .search-button {
  visibility: visible;
}

.form-search .search-button:hover,
.form-search .search-button:focus {
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 1.0);
}

.form-search .search-button:active {
  color: rgba(255, 255, 255, 0.3);
}



/*  User-navigation  */

.user-header {
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
}

.user-header-catalog {
  width: 500px;
  grid-template-columns: max-content repeat(3, 1fr);
}

.user-header,
.user-header-catalog {
  display: grid;
  gap: 40px;
}

.header-navigation {
  padding-bottom: 164px;
}

.header-navigation-catalog {
  padding-bottom: 50px;
}



/*  Catalog  */


.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalog-item {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  text-transform: uppercase;
}

.catalog-item a {
  letter-spacing: 0.2em;
}

.catalog-item:nth-child(2) {
  margin-right: 37px;
}

.catalog-products {
  margin-right: 324px;
}

.catalog-products a {
  position: relative;
}

.catalog-products > a::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: 0;
  right: -38px;
  background-image: url("../img/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
}

.catalog-products a::after:hover,
.catalog-products a::after:active {
  opacity: 1;
}

.catalog-products:hover .goods,
.catalog-products:focus-within .goods {
  display: grid;
}

.catalog-item:nth-child(3) {
  margin-right: 98px;
}

ul.goods {
  width: 1040px;
  position: absolute;
  display: none;
  grid-template-columns: repeat(3, max-content);
  column-gap: 61px;
  row-gap: 16px;
  left: 0;
  list-style: none;
  margin: 0;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 46px;
  background-color: var(--basic-back);
  z-index: 5;
}

.goods li {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
}

.goods li:nth-child(2) {
  grid-row: 2;
}

.goods li:nth-child(3) {
  grid-row: 3;
}

.goods li:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

.goods a {
  letter-spacing: 0;
}



/*  Page Index  */


/*  Main page  */



/*  Gallery  */



.more-btn {
  position: relative;
  display: block;
  width: 164px;
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: 20px;
  font-weight: var(--title-weight);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--basic-black);
  background: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.more-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--basic-button-more);
  z-index: -1;
}

.more-btn:hover,
.more-btn:active {
  background-color: var(--basic-button-more);
}

.more-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-btn:hover:after,
.more-btn:active:after {
  height: 40px;
  transition: 0.3s ease-in-out;
}

.gallery {
  position: relative;
  width: 1160px;
  margin-top: -130px;
}

.gallery-list {
  display: flex;
  justify-items: center;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.gallery-item {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  column-gap: 40px;
}

.gallery-img {
  width: 560px;
  text-align: center;
  outline: 2px solid green;
}

.gallery-item-2 .gallery-img {
  padding-top: 20px;
}

.gallery-item-3 .gallery-img {
  padding-top: 82px;
}

.gallery-info {
  position: relative;
  width: 560px;
  outline: 2px solid red;
}

.gallery-info::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  top: 30px;
  left: 0;
  background-color: #ffffff;
}

.gallery-info::after {
  position: absolute;
  display: block;
  top: 0;
  right: 47px;
  font-family: var(--title-family);
  font-size: 180px;
  line-height: 180px;
  font-weight: 800;
  color: #ffffff;
}

.gallery-item-1 .gallery-info::after {
  content: "01";
}

.gallery-item-2 .gallery-info::after {
  content: "02";
}

.gallery-item-3 .gallery-info::after {
  content: "03";
}




.gallery-item-1 {
  background-color: orange;
}

.gallery-item-2 {
  background-color: purple;
}

.gallery-item-3 {
  background-color: pink;
}




.gallery-title {
  position: relative;
  margin: 0;
  margin-top: 93px;
  margin-bottom: 30px;
  z-index: 2;
}

.gallery-link {
  margin-top: 50px;
  margin-bottom: 50px;
}

a.gallery-link {
  width: 184px;
}

.gallery-text .title {
  line-height: 20px;
}

.parameters {
  font-family: var(--title-family);
  color: var(--basic-black);
  border: none;
  margin-left: -2px;
}

.parameters td {
  min-width: 160px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  padding: 0;
}

.parameters-name td {
  font-size: 13px;
  line-height: 15px;
  padding-top: 10px;
}



/*  Переключатели  */

.slider-controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  right: 100px;
  bottom: 135px;
}

.slider-toggle {
  line-height: 12px;
  margin-left: 18px;
}

.slider-toggle button {
  position: relative;
  width: 12px;
  height: 12px;
  font-size: 0;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

button.slider-btn-active::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}



/*  Услуги  */

.services-wrap {
  display: flex;
  min-height: 288px;
  background-color: var(--basic-service);
  color: var(--basic-black);
  margin-top: 184px;
  margin-bottom: 90px;
}

.services {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-bottom: 64px;
  margin-top: -100px;
}

.services-nav {
  position: relative;
  min-width: 277px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 7px solid #000000;
  min-height: 320px;
  z-index: 15;
}

.services-nav button {
  width: 160px;
  border: none;
}

.services-nav button:after {
  width: 100%;
}

.service-item {
  margin-bottom: 30px;
}

.service-info {
  position: relative;
  margin-left: 116px;
  overflow-y: hidden;
}

.service-info h2 {
  letter-spacing: 0.2em;
  padding-top: 65px;
  margin-bottom: 40px;
}

.service-block {
  position: relative;
  padding-right: 200px;
}

.service-info p {
  letter-spacing: 1px;
  margin: 0;
}

.service-block-show {
  display: block;
}

.service-block-no {
  display: none;
}

.service-delivery {
  padding-right: 258px;
}

.service-block::after {
  position: absolute;
  content: "";
  right: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-delivery::after {
  width: 136px;
  height: 164px;
  top: 65px;
  right: 0;
  background-image: url("../img/icon-delivery.svg");
}

.service-guarantee::after {
  width: 171px;
  height: 195px;
  top: 45px;
  right: 0;
  background-image: url("../img/icon-guarantee.svg");
}

.service-credit::after {
  width: 156px;
  height: 188px;
  top: 45px;
  right: 0;
  background-image: url("../img/icon-credit.svg");
}

.service-item {
  width: 100%;
}

.service-item-current {
  background-color: var(--basic-black);
  margin-top: 80px;
}

.service-item:active .more-btn:after {
  width: 280px;
  height: 40px;
  background-color: var(--basic-black);
  text-align: left;
  opacity: 1.0;
}

.service-btn-current {
  color: var(--basic-back);
  background-color: transparent;
}

.service-btn-current:after {
  min-height: 40px;
  left: 0;
  transform: translate(0, -50%);
}

.service-item:hover .more-btn {
  background-color: var(--basic-button-more);
  color: var(--basic-black);
  opacity: 1.0;
}

.service-item:active .more-btn {
  color: var(--basic-back);
  background: transparent;
  border: none;
  border-radius: 0;
  opacity: 1.0;
}

.service-item:hover .more-btn:after {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.service-item-current:hover .service-btn-current {
  color: var(--basic-back);
  background-color: transparent;
}

.service-info .text-site {
  line-height: 30px;
}







/*  categories  */


.categories {
  margin-top: 95px;
}

.categories ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  row-gap: 60px;
}

.categories-item {
  width: 160px;
}

.categories-link {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  color: var(--basic-black);
  text-decoration: none;
  text-align: left;
  cursor: pointer;
}

.categories-img {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: var(--basic-back);
  text-align: center;
  margin-bottom: 38px;
}

.categories-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.categories-img:hover,
.categories-img:active {
  background-color: var(--basic-button-more);
}

.categories-link:focus .categories-img {
  background-color: var(--basic-button-more);
}

.categories-item:active img,
.categories-item:active p {
  opacity: 0.3;
}

.categories-link p {
  letter-spacing: 0.05em;
  margin: 0;
}





/*  Partners  */


.partners {
  margin-bottom: 90px;
}

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  grid-column: 1 / -1;
}

.partner-item {

}

.partner-item img {
  display: block;
  filter: grayscale(100%);
  opacity: 0.3;
}

.partner-item:hover img,
.partner-item:focus img {
  filter: grayscale(0);
  transition: 0.5s ease-in-out;
  opacity: 1;
}



/*  О нас  */

.about-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-wrap section {
  align-items: baseline;
  width: 560px;
  min-height: 580px;
}

.about-wrap h2 {
  position: relative;
  letter-spacing: 0.2em;
  padding-top: 50px;
  margin-bottom: 50px;
}

.about-wrap h2:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  top: 0;
  left: 0;
  background-color: var(--basic-black);
}

.about-wrap p {
  margin-bottom: 40px;
  padding-right: 60px;
}

.about-wrap .more-btn {
  width: 224px;
  margin-top: 84px;
}

.about-wrap .more-btn:after {
  width: 100%;
}

.delivery-partners {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 32px;
}

.delivery-partners li {
  position: relative;
  font-family: var(--title-family);
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}

.delivery-partners li:last-child {
  margin-bottom: 0;
}

.delivery-partners li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  border: 2px solid var(--basic-service);
  border-radius: 50%;
}

.contacts-map {
  display: block;
  width: 560px;
  height: 222px;
}





/*  Page Catalog  */


/*  Main  */


.catalog-inner {
  display: grid;
  align-content: start;
}

.catalog-inner-wrap {
  padding-left: 60px;
}

.catalog-inner-title {
  grid-column: 1 / -1;
  margin: 0;
  margin-top: 45px;
}

.crumbs,
.catalog-assort ul,
.filter ul,
.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.crumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 50px;
}

.crumbs li {
  position: relative;
  margin-right: 40px;
}

.crumbs li:last-child {
  color: var(--basic-black);
  opacity: 0.3;
  margin-right: 0;
}

.crumbs li::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 10px;
  right: -26px;
  background-image: url("../img/crumb-arrow.svg");
  background-repeat: no-repeat;
}

.crumbs li:last-child::after {
  display: none;
}

.crumbs a {
  font-size: var(--crumb-size);
  line-height: var(--crumb-line);
  font-weight: 300;
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.3;
}

.crumbs a:hover {
  opacity: 0.6;
}

.crumbs a:active {
  opacity: 0.1;
}



/*  Catalog  */


.catalog-header {
  display: grid;
  width: 100%;
  min-height: 70px;
  align-items: center;
  background: linear-gradient(to right, var(--basic-gray-dark) 50%, var(--basic-service) 50%);
}

.catalog-page {
  background: linear-gradient(to right, var(--basic-service) 50%, var(--basic-white) 50%);
}

.catalog-page h3 {
  font-family: var(--title-family);
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.header-filter {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.header-filter > h3 {
  width: 268px;
  padding-left: 60px;
}

.catalog-assort {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding-top: 25px;
  padding-left: 74px;
  padding-bottom: 25px;
  background-color: var(--basic-service);
}

.catalog-assort h3 {
  margin-right: 74px;
}

.catalog-assort-list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 30px;
  align-items: center;
}

.catalog-assort-list li {
  column-gap: 30px;
}

.catalog-assort-list a {
  display: grid;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.3;
}

a.catalog-assort-active {
  opacity: 1.0;
}

.catalog-assort-arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catalog-assort-arrows li {
  position: relative;
}

.catalog-assort-arrows a {
  display: block;
  font-size: 0;
  margin-left: 23px;
}

.arrow-up {
  opacity: 0.2;
}

.arrow-up::before {
  display: inline-block;
  content: "";
  margin-left: 2px;
  border: 12px solid #000;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
  vertical-align: middle;
}

.arrow-down::before {
  display: inline-block;
  content: "";
  margin-left: 2px;
  border: 12px solid #000;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
  vertical-align: middle;
}


.catalog-assort-arrows a:hover {
  opacity: 0.4;
}

.catalog-assort-arrows a:active {
  opacity: 1.0;
}

a.catalog-assort-active:hover {
  opacity: 1.0;
}



/*  Content-catalog  */


.content-catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
}




/*  Каталог товаров  */


.content-products {
  padding-top: 70px;
  padding-left: 74px;
  padding-bottom: 78px;
  background-color: var(--basic-white);
}

.products-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 40px;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--title-family);
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-top: 30px;
}

.product-info a {
  width: 270px;
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  color: var(--basic-black);
  text-decoration: none;
}

.product-info p {
  margin: 0;
}

.info-hover-compare {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.5;
}

.info-hover-compare:hover {
  opacity: 1.0;
}

.info-hover-compare:active {
  opacity: 0.2;
}

.product-image {
  position: relative;
  width: 360px;
  height: 380px;
}

.product-image:hover .product-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
  z-index: 3;
}

.product-label-new::after {
  position: absolute;
  content: "";
  width: 62px;
  height: 62px;
  top:  29px;
  right: 27px;
  background-image: url("../img/label-new.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 7;
}

.info-hover {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}

.info-hover .more-btn {
  margin-bottom: 22px;
}

.product-image:hover .info-hover {
  display: block;
}

.pagination {
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-number);
}

.pagination-number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 30px;
}

.pagination-number li {
  margin-right: 30px;
}

.pagination-number li:last-child {
  margin-right: 0;
}

.pagination a {
  font-family: var(--title-family);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-number a {
  opacity: 0.3;
}

.pagination-number a:hover {
  opacity: 0.6;
}

.pagination-btn {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
  background: transparent;
}

.pagination-number a:active,
a.pagination-number-active {
  opacity: 1.0;
}

.pagination-btn-back:hover,
.pagination-btn-next:hover {
  background-color: var(--basic-pagination-back);
  opacity: 1.0;
}

.pagination-btn-back:active,
.pagination-btn-next:active {
  background-color: var(--basic-pagination-back);
  opacity: 0.3;
}




/*  Form  */



.filter {
  width: 200px;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 68px;
}

.filter-list {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.filter-list li {
  position: relative;
}

.filter-form legend {
  width: 100%;
  font-family: var(--title-family);
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em;
  padding-top: 14px;
  border-top: 2px solid #000000;
  margin-bottom: 32px;
}

.filter-list label {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: var(--basic-black);
  padding-left: 42px;
  cursor: pointer;
}

.filter-color label,
.filter-bluetooth label {
  margin-bottom: 15px;
}

.filter-color input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -5px;
  left: 0;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
  cursor: pointer;
}

.filter-color input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  width: 13.5px;
  height: 10.5px;
  top: 2px;
  left: 5px;
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-bluetooth input[type="radio"] + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: -5px;
  left: 0px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.filter-bluetooth input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 3px;
  left: 8px;
  border-radius: 50%;
  background-color: var(--basic-black);
}

.filter-form input:disabled label {
  color: #a6a6a6;
}

.filter-list li:hover label {
  opacity: 0.6;
}

.filter-list li:active label {
  opacity: 1.0;
}

.filter-list input:disabled + label {
  color: var(--basic-disabled);
}

.filter-list li:hover input:disabled + label,
.filter-list li:hover input:checked:disabled + label {
  opacity: 1.0;
  cursor: default;
}

.filter-list li input:disabled + label::before,
.filter-list li input:checked:disabled + label::before,
.filter-list li input:checked:disabled + label::after {
  opacity: 0.25;
}

.filter-range {
  width: 200px;
}

.range-controls {
  position: relative;
  padding-top: 9px;
  margin-bottom: 17px;
}

.range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.range-controls .bar {
  height: 2px;
  background-color: #91c92f;
  margin-left: 20px;
}

.range-controls .range-toggle {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 114px;
}

.price-controls {
  display: flex;
}

.price-controls label,
.price-controls input {
  font-family: var(--title-family);
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: var(--basic-black);
  padding-left: 0;
}

.price-controls label {
  margin-right: 20px;
}

.price-controls input {
  width: 56px;
  background: transparent;
  border: none;
  padding: 0 2px;
}

.price-controls label:last-child {
  margin-right: 0;
}

.filter-form button {
  width: 200px;
  border: none;
  outline: none;
  z-index: 10;
  cursor: pointer;
}




/*  Footer  */


.main-footer {
  color: var(--basic-white);
  background-color: var(--basic-footer);
}

.main-footer .container {
  padding-top: 46px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 163px 1fr;
  align-self: start;
}

.footer-logo {
  margin-top: 20px;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
  outline: none;
}

.footer-logo:active {
  opacity: 0.3;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer a {
  color: var(--basic-white);
  text-decoration: none;
}

.user-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  grid-column: 2;
  align-self: start;
  justify-self: end;
}

.user-footer-catalog {
  display: grid;
  grid-template-columns: max-content repeat(3, 1fr);
  gap: 40px;
  align-self: start;
  justify-self: end;
}

.user-footer a,
.user-footer-catalog a {
  position: relative;
  display: block;
  padding-left: 23px;
}

.user-footer a::before,
.user-footer-catalog a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login::before {
  width: 13px;
  height: 14px;
  background-image: url("../img/icon_user.svg");
}

.compare::before {
  width: 14px;
  height: 14px;
  background-image: url("../img/icon_chart-footer.svg");
}

.cart {
  margin-left: 6px;
}

.cart::before {
  width: 10px;
  height: 10px;
  background-image: url("../img/icon_cart-footer.svg");
}

.person::before {
  width: 13px;
  height: 14px;
  background-image: url("../img/icon_user-catalog.svg");
}

.user-footer-catalog .login-out {
  margin-right: 20px;
  padding-left: 0;
}

.login-out::before {
  display: none;
}

.user-footer-catalog a {
  opacity: 0.7;
}

.footer-wrap-center {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  align-items: baseline;
  margin-top: 40px;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 36px;
  row-gap: 20px;
  justify-self: center;
}

.footer-wrap-center p {
  margin: 0;
}

.footer-navigation-item {
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: 28px;
  font-weight: var(--title-weight);
  text-transform: uppercase;
  height: 22px;
}

.footer-navigation-item a {
  letter-spacing: 0.2em;
}

.user-footer {
  display: grid;
}

.user-footer li,
.user-footer-catalog li {
  line-height: 20px;
  justify-self: end;
}

.user-footer a,
.user-footer-catalog a {
  opacity: 0.7;
}

.user-footer a:hover,
.user-footer-catalog a:hover,
.user-footer a:focus,
.user-footer-catalog a:focus {
  opacity: 1.0;
  outline: none;
}

.user-footer a:active,
.user-footer-catalog a:active {
  opacity: 0.3;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.6;
  outline: none;
}

.footer-navigation a:active {
  opacity: 0.3;
}

p.footer-phone {
  margin-left: auto;
}

.footer-contacts {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  margin-top: 67px;
}

.footer-contacts::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-icons);
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  justify-self: center;
  gap: 20px;
}

.social-item {
  width: 32px;
  height: 32px;
}

.social-link {
  opacity: 0.3;
}

.social-link:hover,
.social-link:focus {
  opacity: 1.0;
  outline: none;
}

.social-link:active {
  opacity: 0.1;
}

.academy-logo {
  max-width: 27px;
  height: 34px;
  justify-self: end;
}

.academy-logo:hover,
.academy-logo:focus {
  opacity: 0.6;
  outline: none;
}

.academy-logo:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  clip-path: inset(100%);
}



/*  Modal Form  */

.modal {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  width: 960px;
  height: 550px;
  transform: translateX(-50%);
  background-color: var(--basic-white);
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%);
  z-index: 30;
}

.modal-show {
  display: block;
}

.modal-error {
  display: block;
}


.form-write-us {
  position: relative;
  width: 760px;
  padding-top: 92px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 69px;
}

.form-write-us p {
  margin: 0;
}

.write-us-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p.write-us-item {
  width: 360px;
  margin-bottom: 32px;
}

.form-write-us label {
  display: block;
  font-family: var(--title-family);
  font-size: var(--nav-title-size);
  line-height: var(--nav-title-line);
  font-weight: var(--title-weight);
  margin-bottom: 10px;
}

.form-write-us input:invalid,
.form-write-us textarea:invalid {
  background-color: var(--basic-input-invalid);
}

.form-write-us input,
.form-write-us textarea {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--basic-input);
  padding: 0;
  padding: 16px 20px;
  border: none;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"] {
  width: 320px;
  height: 18px;
}

.write-us-item textarea {
  width: 720px;
  min-height: 132px;
}

.form-write-us button {
  width: 200px;
  margin-left: 0px;
  outline: none;
}

.form-write-us input:hover,
.form-write-us textarea:hover,
.form-write-us input:active,
.form-write-us textarea:active  {
  background-color: var(--basic-input-hover);
  outline: none;
}

.form-write-us input:focus,
.form-write-us textarea:focus {
  color: #363636;
  background-color: transparent;
  outline: 2px solid var(--basic-back);
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: rgba(240, 197, 46, 0.5);
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  top: 26px;
  left: 15px;
  background-color: var(--basic-white);
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: rgba(240, 197, 46, 1.0);
}

.modal-close:active {
  background-color: rgba(240, 197, 46, 0.3);
}




/*  Modal Map  */

.modal-map {
  width: 960px;
  height: 573px;
  z-index: 20;
}

.modal-map iframe {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal-map p {
  position: absolute;
  width: 960px;
  height: 573px;
  top: 0;
  left: 0;
  margin: 0;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal-map img {
  width: 100%;
  height: auto;
}

